@charset "utf-8";

:root {
	--dc-header-bg: #f8f9fa;
	--dc-header-border-color: #e8e9ea;
	--dc-navbar-hover-color: black;
	--dc-nav-link-active-color: #555;
	--dc-nav-link-active-bg: #e7e7e7;
	
	--dc-btn-border-color: #ccc;
	--dc-btn-bg-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	--dc-btn-active-bg: #f5f5f5;
	--dc-btn-active-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
	
	--dc-input-label-color: #666;
	--dc-input-placeholder-color: #ccc;
	--dc-input-highlight-bg: #dedefe;
	--dc-input-error-bg: pink;
	--dc-input-disabled-border-color: #ddd;
	--dc-input-disabled-color: #ccc;
	--dc-input-disabled-bg: #eee;
	--dc-input-disabled-placeholder-color: #ccc;
	
	--dc-pre-border-color: #ccc;
	--dc-pre-color: #333;
	--dc-pre-bg: #f5f5f5;
	
	--dc-icon-active-rgb: 65, 105, 225; /* #4169e1; royalblue */
	--dc-indicator-color: #666;
	--dc-follow-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	
	--dc-dencoded-list-border-color: #ccc;
	--dc-dencoded-list-active-bg: #f0f5ff;
	--dc-dencoded-list-invalid-color: #999;
	--dc-dencoded-list-invalid-bg: #eee;
	
	--dc-footer-border-color: #eee;
	--dc-footer-color: #333;
	--dc-footer-bg: #f5f5f5;
}

:root[data-bs-theme="dark"] {
	--dc-header-bg: #191d21;
	--dc-header-border-color: #313539;
	--dc-navbar-hover-color: white;
	--dc-nav-link-active-color: white;
	--dc-nav-link-active-bg: #515559;
	
	--dc-btn-border-color: #414549;
	--dc-btn-bg-image: linear-gradient(to bottom, #313539, #111519);
	--dc-btn-active-bg: #515559;
	--dc-btn-active-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.45);
	
	--dc-input-label-color: #c1c5c9;
	--dc-input-placeholder-color: #616569;
	--dc-input-highlight-bg: #1e2043;
	--dc-input-error-bg: #902a27;
	--dc-input-disabled-border-color: #393d41;
	--dc-input-disabled-color: #393d41;
	--dc-input-disabled-bg: #212529;
	--dc-input-disabled-placeholder-color: #393d41;
	
	--dc-pre-border-color: #414549;
	--dc-pre-color: var(--bs-body-color);
	--dc-pre-bg: #191d21;
	
	--dc-icon-active-rgb: 65, 105, 225; /* #4169e1; royalblue */
	--dc-indicator-color: #919599;
	--dc-follow-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
	
	--dc-dencoded-list-border-color: #616569;
	--dc-dencoded-list-active-bg: #313539;
	--dc-dencoded-list-invalid-color: #696d71;
	--dc-dencoded-list-invalid-bg: transparent;
	
	--dc-footer-border-color: #313539;
	--dc-footer-color: #c1c5c9;
	--dc-footer-bg: #191d21;
}

header {
	background-color: var(--dc-header-bg);
	border-bottom: 1px solid var(--dc-header-border-color);
}

h2 {
	margin: 1em 0 1px;
	font-size: 1.5rem;
	font-weight: normal;
	cursor: pointer;
}

h2 .toggle-icon {
	vertical-align: 0.25em;
	font-size: 0.6em;
}

h2.collapsed .toggle-icon {
	display: inline-block;
	transform: rotate(-90deg);
}

h3 {
	margin: 1.4em 0 0.3em;
	font-size: 1.4rem;
	font-weight: bold;
}

h4 {
	margin: 1.4em 0 0.3em;
	font-size: 1.3rem;
	font-weight: bold;
}

h5 {
	margin: 1.4em 0 0.3em;
	font-size: 1.3rem;
	font-weight: bold;
}

table.table-fit {
	width: auto;
	table-layout: auto;
}

pre {
	display: block;
	margin: 0 0 10px;
	padding: 9px;
	border: 1px solid var(--dc-pre-border-color);
	border-radius: 4px;
	color: var(--dc-pre-color);
	background-color: var(--dc-pre-bg);
	line-height: 1.4;
	word-break: break-all;
	word-wrap: break-word;
}

b {
	font-weight: bold;
	text-decoration: underline;
}

footer {
	margin-top: 1em;
	padding: 2px 2ex 6px;
	border-top: 1px solid var(--dc-footer-border-color);
	color: var(--dc-footer-color);
	background-color: var(--dc-footer-bg);
	text-align: center;
	font-size: 0.8rem;
}
footer a, footer a:link, footer a:visited, footer a:hover, footer a:active {
	color: var(--dc-footer-color);
	text-decoration: underline;
}

.navbar {
	--bs-navbar-brand-margin-end: 2.5rem;
	--bs-navbar-padding-y: 1px;
	--bs-navbar-hover-color: var(--dc-navbar-hover-color);
	--bs-navbar-nav-link-padding-x: 0.5rem;
	--bs-navbar-toggler-padding-y: 3px;
	--bs-navbar-toggler-padding-x: 5px;
	--bs-navbar-toggler-font-size: 0.9rem;
}

.navbar-nav {
	--bs-nav-link-padding-y: 2px;
}

.nav-item.active {
	--bs-nav-link-color: var(--dc-nav-link-active-color);
	background-color: var(--dc-nav-link-active-bg);
}

.dropdown-menu {
	--bs-dropdown-divider-margin-y: 0.3rem;
	--bs-dropdown-item-padding-y: 0;
}

.dropdown-item {
	cursor: pointer;
}

.btn {
	--bs-btn-border-color: var(--dc-btn-border-color);
	--bs-btn-active-border-color: var(--dc-btn-border-color);
	--bs-btn-hover-border-color: var(--dc-btn-border-color);
	background-image: var(--dc-btn-bg-image);
	background-repeat: repeat-x;
	--bs-btn-active-bg: var(--dc-btn-active-bg);
}
.btn.active, .btn:active {
	background-image: none;
	box-shadow: var(--dc-btn-active-box-shadow);
}

.btn-group-sm .btn {
	--bs-btn-padding-y: 1px;
	--bs-btn-padding-x: 1ex;
	--bs-btn-font-size: 0.8rem;
}
.btn-group-sm .dropdown-menu {
	--bs-dropdown-font-size: 0.9rem;
}

.input-group .btn-group-vertical > .btn {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.input-group .btn-group-vertical > .btn:first-child {
	border-bottom-right-radius: 0;
}

.btn-v-icon-label {
	padding: 2px 8px 0;
	line-height: 1;
}
.btn-v-icon-label.dropdown-toggle::after {
	margin-left: 0;
	vertical-align: 0.1em;
}
.btn-v-icon-label .bi {
	display: block;
	font-size: 1.1em;
}
.btn-v-icon-label .btn-label {
	font-size: 10px;
	line-height: 1;
}

.input-group-text {
	color: var(--dc-input-label-color);
	background-color: var(--bs-tertiary-bg);
}

.dencode-option-group .input-group {
	display: inline-flex;
	width: auto;
}

.dencode-option:enabled {
	border: var(--bs-border-width) solid var(--bs-border-color);
	color: var(--bs-body-color);
	background-color: var(--bs-body-bg);
}
.dencode-option:enabled::placeholder {
	color: var(--dc-input-placeholder-color);
}
	
.dencode-option:enabled.dencode-option-error {
	background-color: var(--dc-input-error-bg);
}

.dencode-option:disabled {
	border: var(--bs-border-width) solid var(--dc-input-disabled-border-color);
	color: var(--dc-input-disabled-color);
	background-color: var(--dc-input-disabled-bg);
	--bs-form-select-bg-img: none;
}
.dencode-option:disabled::placeholder {
	color: var(--dc-input-disabled-placeholder-color);
}

.dencode-option-grid {
	display: grid;
	row-gap: 0;
	column-gap: 10px;
	padding: 0 7px 10px;
	color: var(--bs-body-color);
	background-color: var(--bs-body-bg);
}
.dencode-option-grid .dencode-option-grid-label {
	margin-top: 10px;
	padding-top: 3px;
	padding-bottom: 2px;
	color: var(--dc-input-label-color);
	background-color: var(--bs-tertiary-bg);
}
.dencode-option-grid .dencode-option-grid-value .form-control {
	box-sizing: border-box;
	width: 100%;
	height: 1.5em;
	line-height: 1.5em;
}
.dencode-option-grid .dencode-option-grid-value .form-select {
	box-sizing: border-box;
	width: 100%;
	height: 1.5em;
	padding: 0 2rem 0 0;
	line-height: 1.5em;
}

.popover {
	--bs-popover-max-width: 100%;
}

.popover:has(#permanentLink) {
	width: 50%;
}

.popover-header {
	margin: 0;
}

.badge {
	--bs-badge-border-radius: 0.9rem;
}

.updating {
	background-color: var(--dc-input-highlight-bg);
}

.updated {
	background-color: var(--bs-body-bg);
	transition: background-color 1000ms linear;
}

.copying {
	background-color: var(--dc-input-highlight-bg);
}

.copied {
	background-color: var(--bs-body-bg);
	transition: background-color 1000ms linear;
}

#localeMenu {
	float: right;
	margin: auto 1em auto auto;
}

#exp {
	z-index: 10;
	padding: 3px 1px;
	background-color: var(--bs-body-bg);
}

#exp.follow {
	position: sticky;
	top: 0;
	box-shadow: var(--dc-follow-box-shadow);
}

#expHeader {
	text-align: right;
}

#v {
	resize: vertical;
	height: 9em;
	min-height: 5.5em;
}

#expOptions {
	padding: 2px 0 0;
}

#expOptions .btn-group:not(:last-child) {
	margin-right: 1.2ex;
}

#follow {
	cursor: pointer;
}

#follow.active {
	display: inline-block;
	transform: rotate(-45deg);
	color: rgb(var(--dc-icon-active-rgb));
}

#vLen {
	cursor: pointer;
	margin-left: 5px;
}

#vLen.active {
	--bs-secondary-rgb: var(--dc-icon-active-rgb);
}

#oeGroup {
	margin: 5px 0 0;
	margin-right: 3px;
}

#nlGroup {
	margin: 5px 0 0;
	margin-right: 3px;
}

#tzGroup {
	margin: 5px 0 0;
}

#tzMenu {
	padding: 7px 5px;
}

#tzMenuFilter {
	margin: 0 0 5px;
	padding: 0 1ex;
}

#tzMenuItems {
	max-height: 40vh;
	overflow-y: auto;
}

#encodingIndicator, #decodingIndicator {
	display: inline-block;
	width: 0.8em;
	height: 0.8em;
	color: var(--dc-indicator-color);
}

#otherDencodeNav {
	margin: 1em 0;
	font-weight: bold;
}
#otherDencodeNav .other-dencode-link:before {
	content: ">> "
}

#messageDialog .modal-body {
	--bs-modal-padding: 2rem;
	text-align: center;
}

#messageDialog .modal-footer {
	--bs-modal-footer-border-width: 0;
	justify-content: center;
}

table.dencoded-list {
	table-layout: fixed;
	width: 100%;
}

table.dencoded-list tbody {
	border-bottom: 1px solid var(--dc-dencoded-list-border-color);
}
	
table.dencoded-list tr {
	border-bottom: 1px dashed var(--dc-dencoded-list-border-color);
	cursor: pointer;
}
table.dencoded-list tr th {
	width: 30ex;
	text-align: left;
	word-break: keep-all;
	word-wrap: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
table.dencoded-list tr td {
	width: auto;
}
table.dencoded-list tr .for-disp {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
table.dencoded-list tr .for-copy {
	display: none;
}
table.dencoded-list tr .for-copy textarea {
	overflow: auto;
	resize: vertical;
	z-index: 0;
	height: 5em;
	min-height: 5em;
	margin: 0;
	padding: 0;
}
table.dencoded-list tr .dencode-option-group {
	display: none;
}

table.dencoded-list tr.active {
	background-color: var(--dc-dencoded-list-active-bg);
}
table.dencoded-list tr.active th {
	word-break: break-all;
	word-wrap: anywhere;
	white-space: normal;
}
table.dencoded-list tr.active .for-disp {
	display: none;
}
table.dencoded-list tr.active .for-copy {
	display: block;
}
table.dencoded-list tr.active .dencode-option-group {
	display: inline;
}

table.dencoded-list tr.invalid-value {
	color: var(--dc-dencoded-list-invalid-color);
	background-color: var(--dc-dencoded-list-invalid-bg);
	cursor: auto;
}


.cipher-enigma {
	grid-template-columns: repeat(4, 1fr);
}
.cipher-enigma select {
	text-align: center;
	text-align-last: center; /* for Safari */
}
.cipher-enigma .dencode-option-grid-label {
	grid-column: 1 / -1;
}
.cipher-enigma .dencode-option-grid-label.cipher-enigma-option-uhr {
	grid-column: auto;
}
.cipher-enigma .dencode-option-grid-value {
	grid-column: auto;
}
.cipher-enigma .dencode-option-grid-value.cipher-enigma-option-machine,
.cipher-enigma .dencode-option-grid-value.cipher-enigma-option-plugboard,
.cipher-enigma .dencode-option-grid-value.cipher-enigma-option-ukwd {
	grid-column: 1 / -1;
}
.cipher-enigma .cipher-enigma-option-rotor4 {
	display: none;
}
.cipher-enigma .cipher-enigma-option-plugboard {
	display: none;
}
.cipher-enigma .cipher-enigma-option-uhr {
	display: none;
}
.cipher-enigma .cipher-enigma-option-reflector-ring,
.cipher-enigma .cipher-enigma-option-reflector-position {
	border: var(--bs-border-width) solid var(--dc-input-disabled-border-color);
	border-radius: var(--bs-border-radius);
	text-align: center;
	color: var(--dc-input-disabled-color);
	background-color: var(--dc-input-disabled-bg);
}
.cipher-enigma .cipher-enigma-option-reflector-ring::after,
.cipher-enigma .cipher-enigma-option-reflector-position::after {
	content: "-";
}
.cipher-enigma .cipher-enigma-option-reflector-ring .dencode-option,
.cipher-enigma .cipher-enigma-option-reflector-position .dencode-option {
	display: none;
}
.cipher-enigma .cipher-enigma-option-ukwd {
	display: none;
}

.cipher-enigma.cipher-enigma-has-4wheels {
	grid-template-columns: repeat(5, 1fr);
}
.cipher-enigma.cipher-enigma-has-4wheels .cipher-enigma-option-rotor4 {
	display: initial;
}

.cipher-enigma.cipher-enigma-has-plugboard .cipher-enigma-option-plugboard {
	display: initial;
}

.cipher-enigma.cipher-enigma-has-plugboard.cipher-enigma-has-uhr .cipher-enigma-option-plugboard {
	grid-column: 1 / -2;
}

.cipher-enigma.cipher-enigma-has-uhr .cipher-enigma-option-uhr {
	display: initial;
}

.cipher-enigma.cipher-enigma-has-settable-reflector .cipher-enigma-option-reflector-ring,
.cipher-enigma.cipher-enigma-has-settable-reflector .cipher-enigma-option-reflector-position {
	border: inherit;
	text-align: initial;
	color: inherit;
	background-color: inherit;
	content: initial;
}
.cipher-enigma.cipher-enigma-has-settable-reflector .cipher-enigma-option-reflector-ring::after,
.cipher-enigma.cipher-enigma-has-settable-reflector .cipher-enigma-option-reflector-position::after {
	content: "";
}
.cipher-enigma.cipher-enigma-has-settable-reflector .cipher-enigma-option-reflector-ring .dencode-option,
.cipher-enigma.cipher-enigma-has-settable-reflector .cipher-enigma-option-reflector-position .dencode-option {
	display: initial;
}

.cipher-enigma.cipher-enigma-has-ukwd .cipher-enigma-option-ukwd {
	display: initial;
}


@media screen and (max-device-width: 767px) {
	.container {
		max-width: 100%;
	}
	
	.popover:has(#permanentLink) {
		width: 90%;
	}
	
	.dencode-option-grid {
		column-gap: 3px;
		padding: 0 0 10px;
	}
	
	#v {
		height: 8em;
	}
	
	table.dencoded-list tr th {
		width: 22ex;
		height: 2em;
	}
}
@media screen and (max-device-width: 767px) and (orientation: portrait) {
	.navbar-text {
		display: none;
	}
}
